* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

header {
    flex-wrap: wrap;
    width: 40%;
    height: 100vh;
}


header .campos {
    background-color: rgb(132, 165, 226);
    color: black;
    padding: 20px;
    min-height: 250px;
}


header .filtros {
    padding: 20px;
    background-color: rgb(93, 120, 160);
}

header #prioridad {
  margin-bottom: 20px;
}



main {
    padding: 20px;
    background-color:rgb(114, 130, 201);
    width: 70%;
    height: 100vh;
} 


main li {
    display: flex;
    justify-content: space-between;
}

ul button {
    background-color: rgb(223, 214, 210);
    margin-top: 10px;
    margin-right: 100px;
    padding: 5px;
    border-radius: 20px;
}

ul button:hover {
    background-color: lightcoral;
}

.urgente {
    color: lightcoral;
}

.mensual {
    color: rgb(228, 228, 128);
}

.diaria {
    color: rgb(128, 223, 128);
}